.catalog {
   padding-bottom: 60px;
   &__tabs {
      display: flex;
      justify-content: center;
      margin-top: 60px;
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
   }
   &__tab {
      width: 220px;
      height: 50px;
      margin:0 5px;   
      text-align: center;
      background-color: rgba(0, 0, 0, 0.0001);
      border: 2px solid #D0D0D0;
      font-weight: 500;
      line-height: 46px;
      font-size: 18px;
      text-transform: uppercase;
      color: #6B6B6B;
      transform: skewX(-20deg);
      cursor: pointer;
      transition: .3s all;
      &:hover {
         border: none;
         box-shadow: 3px 3px 5px $main_color;
      }
      div {
         transform: skewX(20deg);
      }
      &_active {
         border: none;
         background-color: $main_color;
         color: #fff;
      }
   }
   &__content {
      display: none;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 60px;
      &_active {
         display: flex;
      }
   }
   &-item {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      overflow: hidden;
      margin-bottom: 20px;
      padding: 20px;
      width: 303px;
      min-height: 442px;
      border: 2px solid #E8E8E8;
      &__img {
         display: block;
         margin: 0 auto;
         max-width: 100%;
         height: 200px;
      }
      &__subtitle {
         margin: 15px auto;
         text-align: center;
         font-weight: 700;
         font-size: 16px;
         color: #0D0D0D;
      }
      &__descr {
         margin-bottom: 10px;
         text-align: center;
         font-weight: 300;
         font-size: 14px;
         color: #0D0D0D;
      }
      &__link {
         display: block;
         margin-bottom: 17px;
         font-weight: 500;
         font-size: 14px;
         text-align: center;
         text-decoration-line: underline;
         text-transform: uppercase;
         color: $main_color;
         &:hover {
            color: $main_color;
            text-decoration-line: none;

         }
      }
      hr {
         margin: 0 auto 19px;
         height: 1px;
         background-color: #777777;
      }
      &__footer {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
      }
      &__old-price {
         font-weight: 300;
         font-size: 14px;
         line-height: 14px;
         text-decoration-line: line-through;
         color: #555555;
      }
      &__new-price {
         font-weight: 700;
         font-size: 20px;
         line-height: 20px;
         color: #050505;
      }
      &__wrapper {
         display: flex;
         width: calc(200% + 40px);
      }
      &__content {
         width: 50%;
         margin-right: 0px;
         transform: translateX(-100%);
         transition: .5s all;
         &_active {
            transform: translateX(0%);
            margin-right: 20px;
         }
      }
      &__list {
         width: 50%;
         margin-left: 20px;
         margin-bottom: 0;
         padding-right: 20px;
         padding-left: 19px;
         transform: translateX(0%);
         transition: .5s all;
         list-style-type: none;
         &_active {
            margin-left: 0px;
            transform: translateX(-100%);
         }
      }
      &__list-item{
         position: relative;
         margin-bottom: 15px;
         font-weight: 300;
         font-size: 14px;
         line-height: 21px;
         color: #555555;
         &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: $main-color;
            left: -13px;
            top: 8px;
         }
      }
      &__back {
         position: absolute;
         bottom: 17px;
         left: 50%;
         transform: translateX(calc(-50% - 19px));
         display: block;
         font-weight: 500;
         font-size: 14px;
         color: $main_color;
         text-transform: uppercase;
         text-decoration: underline;
         &:hover {
            color: $main_color;
            text-decoration: none;
         }
      }
   }
}