.consultation {
   min-height: 680px;
   padding: 100px 0 97px;
   background: url(../../img/bg/bg2.jpg) center center/cover no-repeat;
   &__description {
      margin-top: 18px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
   }
   .error {
      border: 1px solid red;
   }
   label.error {
      text-align: center;
      margin-top: -5px;
      margin-bottom: 14px;
      font-size: 14px;
      border: none;
      color: #FFFFFF;
   }
}